body {
    --deepskyblue: #00bfff;
    --gray: #808080;

    font-family: sans-serif;
    min-width: 200px;

    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    position: fixed;
    overflow: hidden;

    background-color: rgb(225, 246, 255);

    text-align: center;

    display: flex;
    flex-direction: column;
}

.content {
    position: relative;

    width: 100%;
    height: 100%;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.content-grow {
    flex-grow: 1;
}

.content-normal {
    flex-grow: 0;
}

.logo-container {
    position: relative;
    margin-top: 1em;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;

    width: 80%;
    height: 80%;
    display: block;
}

.picture-show {
    position: relative;

    display: flex;
    flex-direction: row;
    gap: 10px;

    padding-bottom: 1em;
    justify-content: center;
}

.picture-show img {
    max-height: calc(100vh / 4);

    transition: transform .2s;

    z-index: 0;
}

.picture-show img:hover {
    z-index: 1;

    transform: scale(2.0);
}

.link-padding {
    padding: 1em;
}

.link {
    flex-grow: 0;
    color: var(--deepskyblue);
    font-size: 16px;
}

.link:visited {
    color: var(--deepskyblue);
}

.link:hover {
}

.info {
    font-size: 0.6em;
}

.license {
    font-size: 0.6em;
    text-decoration: none;
    color: var(--gray);
}

.license:visited {
    color: var(--gray);
}

.external-link {
    vertical-align: text-bottom;
    width: 1em;
    height: 1em;
}

.download {
    vertical-align: text-bottom;
    margin-bottom: 2px;
    width: 1em;
    height: 1em;
}

.footer {
    flex-grow: 0;

    font-size: 0.6em;
    color: var(--deepskyblue);

    list-style: none;
    padding: 0;
}

.currentColor {
    fill: currentColor;
}
